@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],
input[type='search'],
input[type='number'] {
  @apply border rounded p-1;

  &:focus {
    @apply outline-none shadow-outline;
  }
}

input[type='checkbox'],
input[type='number'] {
  &:focus {
    @apply outline-none shadow-outline;
  }
}

body .MuiSvgIcon-root {
  font-size: unset;
}

input[type='checkbox'].switch {
  @apply invisible relative cursor-pointer;
  width: 25px;
  height: 18px;

  &::before {
    @apply bg-gray-300 visible block rounded absolute transition-all duration-300 ease-linear;
    content: ' ';
    height: 6px;
    top: 6px;
    left: 0;
    right: 0;
  }
  &::after {
    @apply bg-gray-500 absolute shadow visible block w-3 h-3 rounded-full transition-all duration-300 ease-linear;
    content: ' ';
    top: 3px;
    left: 0;
  }

  &:checked::before {
    @apply bg-blue-500;
  }
  &:checked::after {
    @apply bg-blue-700;
    left: 13px;
  }
}

a:not(.no-style) {
  @apply text-blue-800 underline;
}

.btn {
  @apply px-2 py-1 rounded;
}
.btn.btn-link {
  @apply text-blue-800 underline;
}

a:focus,
button:focus {
  @apply rounded shadow-outline outline-none;
}
